@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c; /* Purple */
  --secondary-color: #59c3c3; /* Teal */
  --text-light: #ffffff;
  --text-dark: #333;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

/* Base Styles */
body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  color: var(--text-dark);
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1rem;
}

header h1 {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

.menu-button {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Hide menu items by default on small screens */
.hide {
  display: none;
}

nav ul li {
  margin: 0.5rem 0;
}

nav ul a {
  color: var(--text-light);
  text-decoration: none;
}

/* Main Content */
main {
  padding: 1rem;
  text-align: center;
}

main h2 {
  font-family: 'Mooli', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
}

figure {
  margin: 0 auto;
  width: 80%;
}

figure img {
  max-width: 100%;
  height: auto;
  border: 4px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
}

/* Medium Screen Styles */
@media (min-width: 700px) {
  .menu-button {
    display: none; /* Hide menu button on larger screens */
  }
  .menu {
    display: flex !important; /* Always show menu on larger screens */
    justify-content: center;
    gap: 15px;
  }
}

/* Large Screen Styles */
@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); /* Display images in 3 columns */
  }
}
